<div class="header">
  <div class="banner">
    <ul class="nav-ul">
      <li class="nav-item">123456</li>
      <li class="nav-item">CONTACT ME</li>
      <li class="nav-item">SOCIAL MEDIA</li>
      <li class="nav-item">ABOUT</li>
    </ul>
  </div>
  <div class="nav" #nav>
    <ul class="left-nav animated" [ngClass]="{slideInLeft: inView}">
      <li class="menu-item"><a href="/">Home</a></li>
      <li class="menu-item"><a href="/">VOID TEAM</a></li>
    </ul>
    <div class="logo animated" [ngClass]="{flipInX: inView}">
      <a class="logo-nav">
        <img src="/assets/images/logo.png">
      </a>
    </div>
    <div class="right-nav animated" [ngClass]="{slideInRight: inView}">
      <li class="menu-item"><a href="/">Home</a></li>
      <li class="menu-item"><a href="/">VOID TEAM</a></li>
    </div>
    <div class="clear"></div>
  </div>
  <div class="split-line">
  </div>
  <div class="info">
    <span class="title">Void Chain-虚空链</span>
    <div>你自己的虚空仓库</div>
  </div>
  <div class="canvas" id="particle">
  </div>

</div>

<div class="container-body">
  <div class="container-filter"></div>
  <div class="section-header">
    What is Void Chain
  </div>

  <div class="coin-info row">
    <div class="coin-info-item col-xs-12 col-sm-6">
      <img src="/assets/images/core-bg.png">
      <div class="core-icon">
        <img src="/assets/images/core-icon.png">
      </div>
      <div class="coin-info-text">
        The Smart Contract System concept, the underlying software application and software platform (i.e. the Ethereum
        blockchain), is still in an early development stage and unproven. There is no warranty or assurance that the
        process
        for creating Tokens will be uninterrupted or error-free and there is an inherent risk that the software could
        contain defects, weaknesses, vulnerabilities, viruses or bugs causing, inter alia, the complete loss of ETH
        contributions and/or Tokens. We do
      </div>
    </div>
    <div class=" coin-info-item col-xs-12 col-sm-6">
      <img src="/assets/images/wallet-bg.png">
      <div class="core-icon">
        <img src="/assets/images/wallet-icon.png">
      </div>
      <div class="coin-info-text">
        The Smart Contract System concept, the underlying software application and software platform (i.e. the Ethereum
        blockchain), is still in an early development stage and unproven. There is no warranty or assurance that the
        process
        for creating Tokens will be uninterrupted or error-free and there is an inherent risk that the software could
        contain defects, weaknesses, vulnerabilities, viruses or bugs causing, inter alia, the complete loss of ETH
        contributions and/or Tokens. We do
      </div>
    </div>
    <div class="col-xs-12 col-sm-6"></div>
    <div class="col-xs-12 col-sm-6"></div>
  </div>

  <div class="section-header">
    Main Person
  </div>
  <div class="person row">
    <div *ngFor="let item of persons;let i =index" class="person-item col-xs-12 col-sm-4">
      <img src="/assets/images/ava{{i+1}}.jpg">
      <div>{{item}}</div>
    </div>
  </div>

  <div class="section-header">
    Partners
  </div>

  <div class="row partners">
    <div class="partner-img col-xs-6 col-sm-4">
      <img class="filter-grey" src="http://img5.imgtn.bdimg.com/it/u=660791644,1168170289&fm=27&gp=0.jpg">
    </div>
    <div class="partner-img col-xs-6 col-sm-4">
      <img class="filter-grey" src="http://img5.imgtn.bdimg.com/it/u=660791644,1168170289&fm=27&gp=0.jpg">
    </div>
    <div class="partner-img col-xs-6 col-sm-4">
      <img class="filter-grey" src="http://img5.imgtn.bdimg.com/it/u=660791644,1168170289&fm=27&gp=0.jpg">
    </div>
    <div class="partner-img col-xs-6 col-sm-4">
      <img class="filter-grey" src="http://img5.imgtn.bdimg.com/it/u=660791644,1168170289&fm=27&gp=0.jpg">
    </div>
    <div class="partner-img col-xs-6 col-sm-4">
      <img class="filter-grey" src="http://img5.imgtn.bdimg.com/it/u=660791644,1168170289&fm=27&gp=0.jpg">
    </div>
    <div class="partner-img col-xs-6 col-sm-4">
      <img class="filter-grey" src="http://img5.imgtn.bdimg.com/it/u=660791644,1168170289&fm=27&gp=0.jpg">
    </div>
  </div>

</div>

<footer id="footer" class="with-separation-top">
  <div class="small-info">
    The Smart Contract System concept, the underlying software application and software platform (i.e. the Ethereum
    blockchain), is still in an early development stage and unproven. There is no warranty or assurance that the process
    for creating Tokens will be uninterrupted or error-free and there is an inherent risk that the software could
    contain defects, weaknesses, vulnerabilities, viruses or bugs causing, inter alia, the complete loss of ETH
    contributions and/or Tokens. We do not endorse speculation in the price movement of the MFG. Purchasers without a
    legitimate understanding and use for our product and service are ineligible and should not participate.
    Additionally, there are other risks associated with your acquisition, storage, transfer and use of Tokens, including
    those that MFG may not be able to anticipate. Such risks may further materialize as unanticipated variations or
    combinations of the risks set out in the white paper.
  </div>
  <div class="copyright">Copyright © 2018, VOID COIN.
    All trademarks and copyrights belong to their respective owners
  </div>
</footer>
